@import '../../styles/variables.scss';

.search-results {
  position: relative;

  .search-results__container {
    background-color: $color-white;
    border-top: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    height: calc(100vh - 67px);
    overflow-y: auto;
    padding: 0;
    position: fixed;
    top: 67px;
    width: 100%;
    z-index: 500;
    -webkit-overflow-scrolling: touch;

    @media #{$md-and-up} {
      border-radius: 0 0 5px 5px;
      box-shadow: 0 5px 8px rgba($color-black, .25);
      height: auto;
      max-height: 50vh;
      position: absolute;
      top: 100%;
    }
  }

  .search-results__no-result {
    color: $color-grey;
    font-size: 1.35rem;
    padding: 5px 10px;
    line-height: 2.7rem;
  }
}
