@import '../../styles/variables.scss';

.vote {
  .vote__icon {
    color: $color-primary;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-right: .25rem;
  }

  .vote__count {
    color: $color-primary;
    font-size: .85rem;
    line-height: 1.3rem;
  }

  &--big {
    .vote__icon {
      font-size: 2.5rem;
      line-height: 4rem;
      margin-right: .5rem;
    }

    .vote__count {
      color: $color-white;
      font-size: 1.5rem;
      position: relative;
      top: -.35rem;
    }
  }
}
