@import '../../styles/variables.scss';
$image-shadow-color: rgba($color-black, .2);

.movie {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1 0 0;
  overflow: hidden;
  min-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: auto;

  &--animation-enter {
    flex: 0;

    &.movie--animation-enter-active {
      flex: 1 0 0;
      transition: flex .3s ease;
    }
  }

  &--animation-leave {
    transition: flex .3s ease;

    &.movie--animation-leave-active {
      flex: 0;
    }
  }
  
  &:before {
    background: linear-gradient(to right, rgba($color-black, .6), rgba($color-black, .85), rgba($color-black, .6));
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }

  .movie__container {
    color: $color-white;
    margin: 0 auto;
    max-width: 280px;
    padding-bottom: .75rem;
    padding-top: .75rem;
    position: relative;
    width: 100%;

    &--sm {
      padding-bottom: .4rem;
      padding-top: .4rem;
    }

    &--xs {
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .movie__misc {
    font-size: .9rem;

    &--centered {
      align-items: center;
      display: flex;
      justify-content: space-evenly;

      > * {
        flex: 1 0 33%;
      }
    }
  }

  .movie__no-info {
    color: $color-grey;
  }

  .movie__poster {
    background-color: $color-transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    width: 135px;

    &:empty {
      background-color: $color-grey;
      height: 200px;

      &:after {
        content: attr(data-title);
        color: $color-grey-dark;
        font-size: .85rem;
        line-height: 1.25rem;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  .movie__image {
    box-shadow: 0 25px 28px $image-shadow-color,
      0 -25px 28px $image-shadow-color,
      25px 0 28px $image-shadow-color,
      -25px 0 28px $image-shadow-color;
  }

  .movie__type {
    background-color: rgba($color-white, .8);
    border-radius: 1rem;
    color: $color-black;
    font-size: .65rem;
    font-weight: bold;
    line-height: 1;
    margin-top: .65rem;
    padding: 4px 10px;
    text-transform: uppercase;
  }

  .movie__adult {
    color: red;
    display: inline-block;
    font-size: .95rem;
    font-weight: bold;
    margin-left: .75rem;
  }

  .movie__adult-icon {
    margin-right: 2px;
  }

  .movie__title {
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 60px;
  }

  .movie__vote {
    align-items: center;
    border-top: 1px solid rgba(white, .35);
    border-bottom: 1px solid rgba(white, .35);
    display: flex;
    justify-content: space-evenly;
    margin-top: .5rem;
    margin-bottom: .75rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    width: 100%;

    > * {
      flex: 1 0 33%;
    }
  }

  .movie__medias {
    min-height: 31px;
  }

  .movie__videos-button,
  .movie__images-button {
    background-color: $color-transparent;
    border: 2px solid $color-white;
    border-radius: 20px;
    color: $color-white;
    cursor: pointer;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 5px 10px;
    transition-property: background-color, color;
    transition-duration: .5s;

    &:hover,
    &:focus {
      background-color: $color-white;
      color: $color-black;
    }
  }

  .movie__genre {
    margin-right: .35rem;

    &:after {
      content: ',';
    }

    &:last-child:after {
      content: '';
    }
  }

  .movie__country {
    font-size: .9rem;

    + .movie__country {
      margin-left: .35rem;
    }
  }

  .movie__country-emoji {
    font-size: 1rem;
    position: relative;
    top: 2px;
  }

  .movie__network {
    color: #1bad1b;
    font-weight: bold;
  }

  .movie__overview {
    font-size: .85rem;
    text-align: left;
    width: 100%;
  }

  .movie__cast-crew {
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
  }

  .movie__remove {
    background-color: $color-white;
    border: 0;
    border-radius: 50%;
    color: $color-grey-darker;
    cursor: pointer;
    font-size: .85rem;
    height: 1.5rem;
    left: 50%;
    margin-left: 58px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 1.5rem;
    z-index: 2;

    &:hover,
    &:focus {
      background-color: $color-grey-light;
    }
  }

  .movie__more-link {
    background-color: $color-transparent;
    border: 0;
    color: $color-primary;
    cursor: pointer;
    padding: 0;

    &:hover,
    &:focus {
      color: $color-primary-tinted;
    }
  }
}
