.tooltip {
  cursor: help;
  overflow: visible;
  position: relative;

  &:after {
    background-color: $color-white;
    border-radius: 2px;
    box-shadow: 0 6px 8px rgba($color-black, .35),
                  0 -6px 8px rgba($color-black, .35),
                  6px 0 8px rgba($color-black, .35),
                  -6px 0 8px rgba($color-black, .35);
    content: attr(data-title);
    color: $color-black;
    font-size: .85rem;
    font-weight: normal;
    left: 50%;
    line-height: 1;
    opacity: 0;
    padding: 7px 10px;
    position: absolute;
    top: 100%;
    transform: translate(-50%, -20px);
    transition: transform .35s, opacity .35s;
    white-space: nowrap;
    z-index: 2;
  }

  &:hover,
  &:focus {
    &:after {
      opacity: 1;
      transform: translate(-50%, 5px);
    }
  }
}
