@import '_variables';
@import '_normalize';
@import '_resets';
@import '_utils';
@import '_tooltip';

.no-script {
  background-color: white;
  height: 100vh;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;
  z-index: 9999;

  .no-script__paragraph {
    margin: 10px 0 25px;
  }

  .no-script__button {
    background-color: $color-transparent;
    border: 2px solid $color-primary;
    border-radius: 20px;
    color: $color-primary;
    cursor: pointer;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 5px 10px;
    transition-property: background-color, color;
    transition-duration: .5s;

    &:hover,
    &:focus {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}
